<html>
  <head>
    <title>Le numéro de ton potin</title>
  </head>
  <body>
    <h1>PAGE POTIN !</h1>
    <p>Voici le page du potin n°<%= id %></p>
    <p> Son auteur : <%= gossip.author %></p>
    <p> Le contenu du potin : <%= gossip.content %>
    </p>
    <p> Pour toutes modifications, c'est par <a href = "/gossips/<%= id %>/edit/">ici</a> !</p>
    <p><a href = "/">Lien pour revenir à la page des potins</a></p>
  </body>
</html>
